.container{
    position: relative;
    width: 50vw;
    height: auto;
}
.container>#text-container{
    position: absolute;
    height: auto;
    width: 250px;
    top: 200px;
    left: 50px;
    background-color: white;
}
.container>#text-container>h3{
    position:relative;
    text-align: center;
    font-size: 5rem;
    color: black;
}
#options-container{
    position: relative;
    height: auto;
    width: 50vw;
    left: 0px;
    padding: 5px;
    background-color: burlywood;
}